<footer>
  <div class="container">
    <aside>
      <h2>Leah Prince</h2>
    </aside>
    <aside>
      <nav>
        <a href="https://dribbble.com/leahprince" target="_blank">Dribble</a>
        <a href="https://www.linkedin.com/in/leah-prince/" target="_blank">LinkedIn</a>
        <a href="mailto:hello@leah.today" data-clipboard-text="hello@leah.today">Email</a>
      </nav>
    </aside>
  </div>
</footer>

{# {{ craft.inlin.er('/media/icons/logo2.svg') | raw }} #}
