.button {
	border-radius: 2em;
	font-family: "sanfran";
	min-width: 180px;
	line-height: 43px;
	padding-bottom: 2px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;

	font-weight: bold;
	font-size: 17px;
	letter-spacing: -1px;
	background: none;
	border: 2px solid #ff906f;
	color: #fe9e81;
	transition: 0.3s;
	svg {
		margin-right: 8px;
		height: 17px;
		width: 17px;
		fill: #ff906f;
	}
	&:focus,
	&:hover {
		color: #fff;
		background: rgba(255, 143, 108, 1);
		border: 2px solid rgba(255, 143, 108, 0);
		svg path {
			fill: #fff;
		}
	}
	// &:hover {
	//   background: #22A8FA;
	// }
}
