.card {
	max-width: 100%;
	position: relative;
	margin-bottom: 20px;
	transform-style: preserve-3d;
	height: auto;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;

	cursor: pointer;
	// &.hover, &:hover {
	//   transform: scale(0.98,0.98);
	// }
	.video,
	.image {
		position: relative;
		margin: auto 20px;
		border-radius: 12px;
		overflow: hidden;
		padding: 0;
	}
	video,
	picture img {
		width: 100%;
		vertical-align: middle;
	}
}

.card .close {
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	right: 15px;
	top: 15px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	z-index: 999;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	svg {
		width: 13px;
	}
}

.card .video {
	button {
		position: absolute;
		bottom: 20px;
		right: 20px;
		background: rgba(168, 107, 236, 100);
		border-radius: 20px;
		height: 32px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		color: #fff;

		svg {
			width: 18px;
			margin-right: 6px;
			position: absolute;
			top: -2px;
			right: 2px;
		}
		span {
			position: relative;
			top: -2px;
			padding-left: 16px;
			padding-right: 36px;
		}
	}
}

// .card .overlay {
// 	position: absolute;
// 	top: 50%;
// 	left: 15px;
// 	transform: translateY(-50%);
// 	.icon {
// 	}
// 	.text {
// 		margin-top: 20px;
// 		h2 {
// 			font-size: 42px;
// 			line-height: 42px;
// 		}
// 		p {
// 			max-width: 70%;
// 		}
// 	}
// }

// .card .intro {
// 	max-width: 100%;
// 	display: none;
// }

// .card.show {
// 	// position: absolute;
// 	// top: 0;
// 	// left: 0;
// 	// z-index: 999999;
// 	//animation: expandCard 0.6s;
// 	// margin: 0 auto;
// 	// border-radius: 0;
// 	margin-bottom: 0;
// 	// .image {
// 	//   display: none;
// 	// }
// 	.swipe {
// 		display: block;
// 	}
// 	.image {
// 		display: none;
// 	}
// 	.video,
// 	.image {
// 		margin: 0;
// 		border-radius: 0;
// 		overflow: hidden;
// 	}
// 	.video button {
// 		display: none;
// 	}
// 	video,
// 	picture img {
// 		width: 100%;
// 	}
// 	.close {
// 		opacity: 1;
// 	}
// 	.intro {
// 		display: block;
// 		p {
// 			//
// 			// transition-delay: 1s;
// 			// opacity: 1;
// 		}
// 	}
// }

// @keyframes expandCard {
//     0% {
//
//       //border-radius: 12px;
//       transform: translateY(100px) scale(0.9,0.9);
//     }
//     80% {
//       transform: translateY(-10px) translateX(-10px);
//       //border-radius: 0;
//       margin: 0 auto;
//     }
//     100% {
//
//       transform: translateY(0) scale(1);
//     }
// }

// @keyframes fade {
// 	0% {
// 		opacity: 0;
// 	}
//
// 	100% {
// 		opacity: 1;
// 	}
// }

@include desktop {
	.card {
		max-width: 1140px;
		margin: 20px auto;
		margin-bottom: 40px;
		.video,
		.image {
			// margin: 40px auto;
			margin: 0 auto;
		}
		.image {
			//padding: 60px;
		}
	}
}
