.hero {
	padding: 0;
	margin-bottom: 20px;
	max-width: none;
	.gallery {
		//display: none;
		&.highlight {
			//max-height: 50vh;
			margin-top: 0;
			figure {
				max-width: 80vw;
				img {
					box-shadow: none;
				}
			}
		}
	}
	.swipe + .gallery {
		display: none;
	}
}

@include landscape {
	.hero {
		.swipe {
			display: none;
		}
		.gallery {
			display: block !important;
		}
	}
}

// mobile
// 	if swipe and gallery exist, show swipe
// desktop
// 	hide swipe.

// @include desktop {
// 	.hero {
// 		.swipe {
// 			display: none;
// 		}
// 		.gallery {
// 			display: block;
// 		}
// 	}
// }

// @include landscape {
//   max-width: 1200px;
// }
