{% block content %}

  <section class="swipe">
    <a class="close" href="/#{{block.slug}}">
      {{ craft.inlin.er('/media/icons/x.svg') | raw }}
    </a>
    <div class="images">
    {% for image in block.swipe %}
      <img src="{{ image.url() }}"/>
    {% endfor %}
    </div>
    {# <div class="indicators">
      {% for image in block.swipe %}
        <span {% if loop.first %}class="active"{% endif %}></span>
      {% endfor %}
    </div> #}
  </section>

{% endblock %}
