<header> {# class="offset" #}
  {# <a href="google.com" class="icon">View Source</a> #}
  <a href="/" class="icon">{{ craft.inlin.er('/media/icons/linkedin.svg') | raw }} Leah Prince</a>
  <div class="themeToggle" v-on:click="toggleTheme">
    <button class="sun">{{ craft.inlin.er('/media/icons/sun.svg') | raw }}</button>
    <button class="toggle">
      <span class="position"></span>
    </button>
    <button class="moon">{{ craft.inlin.er('/media/icons/moon.svg') | raw }}</button>
  </div>
</header>
