<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="description" content="">
    <meta name="author" content="">
    {# <meta name="intercoolerjs:use-data-prefix" content="true"/> #}
    <title>Leah Prince: {{ siteUrl }}</title>

    {% if craft.config.devMode %}
      <link rel="stylesheet" href="/dist/style.css">
      <link rel="stylesheet" href="/src/vendor/photo-swipe/photoswipe.css">
      <link rel="stylesheet" href="/src/vendor/photo-swipe/default-skin.css">
    {% else %}
      {% minify css %}
        <style>
        {{ craft.inlin.er('/dist/style.css') | raw }}
        </style>
      {% endminify %}
    {% endif %}


  </head>
  <body>
    <div id="app">
      {% include '_partials/header' %}
      <main class="{% if entry.type.handle is defined %}{{entry.type.handle}} {% if entry.type.handle == "project" %}show{% endif %}{% endif %}" role="main">
  			{% block content %}
  			{% endblock %}
		  </main>
    </div>
    {% include '_partials/photo-swipe' %}
    {% include '_partials/scripts' %}
  </body>
</html>
