{% cache %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% hook 'seomaticRender' %}
    {# <meta name="turbolinks-cache-control" content="no-preview"> #}
    {# <meta name="intercoolerjs:use-data-prefix" content="true"/> #}
    {# <title>Leah Prince: UX Designer</title> #}

    {% if craft.config.devMode %}
      <link rel="stylesheet" href="/dist/style.css">
      {# <link rel="stylesheet" href="/src/vendor/photo-swipe/photoswipe.css">
      <link rel="stylesheet" href="/src/vendor/photo-swipe/default-skin.css"> #}
    {% else %}
      {% minify css %}
        <style>
        {{ craft.inlin.er('/dist/style.css') | raw }}
        </style>
      {% endminify %}
      <script type="text/javascript">
      (function(e,r){function n(e,r){e[r]=function(){e.push([r].concat(Array.prototype.slice.call(arguments,0)))}}function o(){var e=r.location.hostname.match(/[a-z0-9][a-z0-9\-]+\.[a-z\.]{2,6}$/i),n=e?e[0]:null,o="; domain=."+n+"; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();r.cookie=r.referrer&&-1===r.referrer.indexOf(n)?"jaco_referer="+r.referrer+o:"jaco_referer="+t+o}var a="JacoRecorder",t="none";!function(e,r,t,i){if(!t.__VERSION){e[a]=t;for(var c=["init","identify","startRecording","stopRecording","removeUserTracking","setUserInfo","trackEvent"],s=0;s<c.length;s++)n(t,c[s]);o(),t.__VERSION=2.1,t.__INIT_TIME=1*new Date;var f=r.createElement("script");f.async=!0,f.setAttribute("crossorigin","anonymous"),f.src=i;var d=r.getElementsByTagName("head")[0];d.appendChild(f)}}(e,r,e[a]||[],"https://recorder-assets.getjaco.com/recorder_v2.js")}).call(window,window,document);
      window.JacoRecorder.init("3034c366-4146-4b01-97f5-6bcda7498d7d");
      </script>

      <!-- Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109659187-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109659187-1');
      </script>
    {% endif %}




  </head>
  <body class="{{entry.type.handle}}" id="{{entry.slug}}">
    <div id="app">
      {% include '_partials/header' %}
      <main class="{% if entry.type.handle is defined %}{{entry.type.handle}} {% if entry.type.handle == "project" %}show{% endif %}{% endif %}" role="main">
  			{% block content %}
  			{% endblock %}
		  </main>
    </div>
    {% include '_partials/footer' %}
    {# {% include '_partials/photo-swipe' %} #}
    {% include '_partials/scripts' %}
  </body>
</html>
{% endcache %}
