{% block content %}
<section class="projects">
  {% set projects = block.projects %}

  {% if projects | length %}
    {% for project in projects %}
        {# {% set projectUrl = '{{ project.url }}' %} #}
        <div class="project" ic-post-to="/{{project.uri}}" ic-target="#{{project.slug}}Detail" ic-push-url="true" ic-action="showProject">
          {% for block in project.body.project.projectHero.limit(1) %}
              {% include '_blocks/projectHero'  with {block: block} only %}
          {% endfor %}
          <div class="projectDetail" id="{{project.slug}}Detail"></div>
        </div>
    {% endfor %}
  {% endif %}
{% endblock %}
